/*Style Sheet for Application ToDo Today is made by Paula Meuronen 2023 for Helsinki University course TKT20019 */ 

body {
	background-color: #fff; 
}

.parent {
    width: 50vw; 
    margin: auto;
	font-family: 'Arial', 'Helvetica', sans-serif;
	color: #222222;
}

.menu-container {
    height: 60px;   
    padding: 0px;
    text-align: center;
    background-color: #CCCCCC;
}

.menu-item {
    float: left;
    height: 50px;   
    padding: 10px 10px 0px;
    margin-right: 10px;
}

.menu-item-on {
    float: left;
    height: 50px;
    padding: 10px 10px 0px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #DDDDDD;
}

.menu-item-user {
    float: right;
    height: 45px;   
    padding: 20px 10px 0px;
    margin-left: 10px;
    font-weight: normal;
    display: flex; 
    justify-content: space-around;
}
  
div.menu-item p{
    color: #999999;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
  }

.content {
    padding: 5px;
    background-color: #DDDDDD;
    border: 0px solid #FF0000;
}

.add-new {
    width: 30vw;
    padding: 20px;
    background-color: #CCC;
    margin: 5px 5px 20px;
}

.add-new-container {
    display: flex;
}
.add-new-left {
    width: 15vw;
    padding: 20px;
    background-color: #CCC;
    margin: 5px;
}

.add-new-right {
    width: 15vw;
    padding: 20px;
    background-color: #CCC;
    margin: 5px;
}

.footer {
    height: 50px;
    padding: 30px 0px 0px 5px;
    font-style: italic;
    background-color: #CCCCCC;
}


/* FONTS */


h2 {
    font-size: 1.8em;
    margin-top: 1.3em;
}
h3 {
    font-size: 1.5em;
    margin-top: 1.3em;
}
h4 {
    font-size: 1.2em;
    margin: 0.3em 0em 0.2em;
}
.error {
    color: #FF0000;
}
.confirm {
    color: #008000;
}
.open {
    color: red;
}

.done {
    color: green;

}

/* TABLE */
table {
    width: 45vw;
    border: 0px solid #000;
    text-align: center;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 20px;
}
tr {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border: 0px solid #000;
}

td {
    margin: 0px;
    padding: 10px;
    border: 0px solid #000;
}



/* FORM */

input[type=submit], input[type=reset] {
    background-color: #009933;
    border: black;
    color: white;
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    margin: 2px 0px 2px 10px;
  }

  input[type=submit]:hover {
    background-color: #000;
  }

  input[type=submit].login {
    background-color: #009933;
    border: black;
    color: white;
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    margin: 10px 10px 10px 220px;
  }

  input[type=submit].delete {
    background-color: #066;
    border: black;
    color: white;
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    margin: 2px 0px 2px 10px;
  }

  input[type=submit].done-right {
    background-color: #009933;
    border: black;
    color: white;
    border-radius: 4px;
    padding: 6px;
    text-decoration: none;
    margin: 10px 0px 2px 10px;
    float: right;
  }

  input[type=submit]:hover,   input[type=submit].login:hover,   input[type=submit].delete:hover {
    background-color: #000;
  }

input[type=text], input[type=password] {
    background-color: #FFFFFF;
    border: black;
    color: black;
    padding: 5px;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
  }

select {
    background-color: #FFF;
    padding: 5px;
    border: solid 1px #000;
}

/* LINK */
a:link {
    text-decoration: none;
    color: #009;
}

      
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}	

a:visited {
    text-decoration: none;
      color: black;
    }

.menu-item a:link {
    text-decoration: none;
    color: black;
}


.buttonlike a:link {
    background-color: #009933;
    color: #FFF;
    border-radius: 4px;
    padding: 6px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 10px;
  }

  

.buttonlike a:visited {
    background-color: #009933;
    color: #FFF;
    border-radius: 4px;
    padding: 6px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 10px;
    }

.buttonlike a:hover {
    background-color: #000;
    color: #FFF;
    border-radius: 4px;
    padding: 6px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 10px;
    }

.buttonlike-left a:link {
        background-color: #009933;
        color: #FFF;
        border-radius: 4px;
        padding: 6px;
        font-size: 0.8em;
        text-decoration: none;
        text-transform: uppercase; 
        margin: 0px 10px 0px;
        float: left; 
    }

.buttonlike-left a:visited {
        background-color: #009933;
        color: #FFF;
        border-radius: 4px;
        padding: 6px;
        font-size: 0.8em;
        text-decoration: none;
        text-transform: uppercase; 
        margin: 0px 10px 0px;
        float: left; 
        }

.buttonlike-left a:hover {
    background-color: #000;
    color: #FFF;
    border-radius: 4px;
    padding: 6px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 0px 10px 0px;
    float: left; 
    }



/* IMAGE */
img.logo {
    padding: 5px;
    height: 100px;
    border: 0px;
    vertical-align: middle;
}