<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - ToDo Today</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style_todo.css') }}">
    </head>

    <body>
    <div class="parent">

        <div class="content_top">
         <h1>

            <img src="{{ url_for('static', filename='checkmark_icon_100px.jpg') }}" class="logo" alt="Logo" title="LOGO is 42331765 Image by Verazinha on Freepik"> 
        
            ToDo Today</h1>
            <div class="menu-container">

                <div {% if request.path == "/todolist" %} class="menu-item-on"{% else %} class="menu-item"{% endif %}><a href="/todolist">TODO<br> list</a></div>
                <div {% if request.path == "/manage" %} class="menu-item-on"{% else %} class="menu-item"{% endif %}><a href="/manage">PROJECT<br> management</a></div>
                <div {% if request.path == "/types" %} class="menu-item-on"{% else %} class="menu-item"{% endif %}><a href="/types">TYPE<br> management</a></div>
                <div {% if request.path == "/" or request.path == "/register"%} class="menu-item-on"{% else %} class="menu-item"{% endif %}><a href="/">USER <br>account</a></div>
                <div class="menu-item-user">{% if session.user_id %}Logged in as: {{ session.username }} <div class="buttonlike"><a href="/logout">Logout</a></div>{% endif %} 

                </div>
            </div> 
        </div>

        <div class="content">

            <h2>{% block topic %}{% endblock %}</h2>
        
            {% block content %}{% endblock %}
            <p>&nbsp;</p>
        </div>

        <div class="footer">2023 by Mcpaulafi</div>

    </div>   
    </body>
</html> 