{% extends "layout.html" %}
{% block title %}User account{% endblock %}
{% block topic %}User account{% endblock %}
{% block content %}

    {% if session.user_id %}
        <p>Logged in as: {{ session.username }} </p>
        <div class="buttonlike"><a href="/logout">Logout</a></div></p>
        
    {% else %}
        {% if error_message %}
            <p class="error">{{ error_message }} </p>
        {% endif %}
        <form action="/login" method="POST">
            Username <input type="text" name="username"><br>
            Password <input type="password" name="password"><br>
            <input type="submit" class="login" value="LOGIN">
        </form>
        <br>
        <div><div class="buttonlike-left"><a href="/register">Create</a></div> new user account</div>
    {% endif %}


{% endblock %}