{% extends "layout.html" %}
{% block title %}Manage projects{% endblock %}
{% block topic %}Manage projects{% endblock %}
{% block content %}

    {% if session.user_id %}


        <div class="add-new-container">

            <!--PROJECT LIST-->
            {% if project_names %}
            <div class="add-new-left">
                <h3>Select a project</h3>
                <form action="/manage" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="form_type" value="get_project">
                    <select name="project_id">
                {% for col in project_names %}
                        <option value="{{ col[0] }}">{{ col[1] }}</option>
                {% endfor %}
                    </select>
                    <input type="submit" class="done" value="SELECT">
                </form>
            </div>
            {% endif %}

            <!--NEW PROJECT-->
            <div class="add-new-right">
                <h3>Add new project</h3>
            <form action="/manage" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="hidden" name="form_type" value="add_project">
                Project name: <input type="input" name="project_name" value="{{ project_name }}"><br>
                Deadline: <input type="input" name="project_deadline" value="dd.mm.yyyy" size="10">
                <input type="submit" class="done" value="CREATE">
            </form></div>

        </div>
        <!--PLACE FOR ERROR MESSAGE-->
        {% if error_message %}
            <p class="error">{{ error_message }} </p>
        {% endif %}

        <!--PROJECT DETAILS-->
        {% if projects %}
            {% for col in projects %}
                <p>&nbsp;</p>
                <h2>Project: {{ col[1] }}</h2>
                <p><strong>Status</strong> {{ col[2] }}/{{ col[3] }} ToDos completed</p>
                <p><strong>Deadline</strong> {% if col[4] %} {{ col[4].strftime("%d.%m.%Y") }} {% else %} Not set {% endif %}</p>
                <!--ADD TODO-->
                {% if types %}
                    <div class="add-new">
                    <form action="/manage" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="form_type" value="add_todo">
                        <h3>Add new ToDo to this project</h3> 
                        <input type="hidden" name="project_id" value="{{ col[0] }}">
                        <select name="type_id">
                            {% for col2 in types %}
                            <option value="{{col2[0]}}">{{ col2[1] }}
                            {% endfor %}
                        </select>
                        Deadline: <input type="input" name="todo_deadline" value="{% if col[4] %}{{col[4].strftime('%d.%m.%Y')}}{% else %}dd.mm.yyyy{% endif %}" size="10"><br>
                        Description: <input type="input" name="todo_description" size="50" value="{{ todo_description }}">
                        <input type="submit" class="done" value="CREATE">
                    </form>
                    </div>
                {% else %}
                    <p>Create a <a href="/types">Type</a> before you can add ToDos!</p>
                {% endif%}
                <!--TODO LIST-->
                <table>
                    <tr><th>Deadline</th><th>Type</th><th>Description</th><th>Done date</th><th>Delete</th></tr>
                {% for col2 in project_todos %}
                    {% if col[0] == col2[0] %}
                        <tr>
                            <td> {{ col2[3].strftime("%d.%m.%Y") }} </td>
                            <td> {{ col2[4] }} </td>
                            <td>{{ col2[5] }} </td>
                            <td> {% if col2[6] %} 
                                    <span class="done">{{ col2[6].strftime("%d.%m.%Y") }}</span> 
                                {% else %} 
                                    <form action="/manage" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                        <input type="hidden" name="form_type" value="done_todo">
                                        <input type="hidden" name="project_id" value="{{ col[0] }}">
                                        <input type="hidden" name="todo_id" value="{{ col2[2] }}">
                                    <input type="submit" class="done" value="DONE">
                                    </form>
                                {% endif %}</td>
                            <td>
                                <form action="/manage" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="form_type" value="delete_todo">
                                    <input type="hidden" name="project_id" value="{{ col[0] }}">
                                    <input type="hidden" name="todo_id" value="{{ col2[2] }}">
                                    <input type="submit" class="delete" value="DELETE">
                                </form>
            
                            </td>
                        </tr>
                        <!--KESKEN: Ilmoitus, jos TODOita ei ole vielä yhtäään -->
                    {% endif %}

                {% endfor %}
                </table>
                    <p>Delete entire project and its ToDos 
                        <form action="/manage" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="form_type" value="delete_project">
                        <input type="hidden" name="project_id" value="{{ col[0] }}">
                        <input type="submit" class="delete" value="DELETE">
                    </form></p>
            {% endfor %}
        {% else %}
                {% if project_names %}
                    <p>Select a project!</p>
                {% else %}
                    <p>Create a project!</p>
                {% endif %}
        {% endif %} 
    {% else %} 
    <p><div class="buttonlike"><a href="/">LOGIN</a></div> to manage your projects!</p>
    {% endif %}

{% endblock %}