{% extends "layout.html" %}
{% block title %}Manage projects{% endblock %}
{% block topic %}Manage projects{% endblock %}
{% block content %}

    {% if session.user_id %}

        <!--PLACE FOR ERROR / CONFIRM MESSAGE-->
        {% if error_message_add %}
            <p class="error">{{ error_message_add }} </p>
         {% endif %}
         {% if confirm_message_add %}
         <p class="confirm">{{ confirm_message_add }} </p>
        {% endif %}
        {% if confirm_message %}
        <p class="confirm">{{ confirm_message }} </p>
       {% endif %}

        <div class="add-new-container">
            <!--PROJECT LIST-->
            {% if project_names %}
            <div class="add-new-left">
                <h4>Select a project</h4>
                <form action="/manage" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="form_type" value="get_project">
                    <select name="project_id">
                {% for col in project_names %}
                        <option value="{{ col[0] }}">{{ col[1] }}</option>
                {% endfor %}
                    </select>
                    <input type="submit" class="done" value="SELECT">
                </form>
            </div>
            {% endif %}

            <!--NEW PROJECT-->
            <div class="add-new-right">
                <h4>Add new project</h4>
                <form action="/manage" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="form_type" value="add_project">
                    Project name: <input type="text" name="project_name" value="{{ project_name }}"><br>
                    Deadline: <input type="text" name="project_deadline" value="dd.mm.yyyy" size="10">
                    <input type="submit" class="done" value="CREATE">
                </form>
            </div>

        </div>


        <!--PROJECT DETAILS-->
        {% if projects %}
            {% for col in projects %}
                <p>&nbsp;</p>
                <h3>Project: {{ col[1] }}</h3>
                <p><strong>Status</strong> <span class="confirm">{{ col[2] }}/{{ col[3] }}</span> ToDos completed.
                <strong>Deadline</strong> {% if col[4] %} {{ col[4].strftime("%d.%m.%Y") }} {% else %} Not set {% endif %}</p>

                <!--ADD TODO-->
                {% if types %}
                    <div class="add-new">
                    <form action="/manage" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="form_type" value="add_todo">
                        <h4>Add new ToDo to this project</h4> 
                        <input type="hidden" name="project_id" value="{{ col[0] }}">
                        <select name="type_id">
                            {% for col2 in types %}
                            <option value="{{col2[0]}}">{{ col2[1] }}
                            {% endfor %}
                        </select>
                        Deadline: <input type="text" name="todo_deadline" value="{% if col[4] %}{{col[4].strftime('%d.%m.%Y')}}{% else %}dd.mm.yyyy{% endif %}" size="10"><br>
                        Description: <input type="text" name="todo_description" size="45" value="{{ todo_description }}">
                        <input type="submit" class="done-right" value="CREATE">
                    </form>
                    </div>
                {% else %}
                    <p>Create a <a href="/types">Type</a> before you can add ToDos!</p>
                {% endif%}

                <!--PLACE FOR ERROR / CONFIRM MESSAGE-->
                {% if error_message_todo %}
                    <p class="error">{{ error_message_todo }} </p>
                {% endif %}
                {% if confirm_message_todo %}
                    <p class="confirm">{{ confirm_message_todo }} </p>
                {% endif %}

                <!--TODO LIST-->
                <table>
                    <tr><th>Deadline</th><th>Type</th><th>Description</th><th>Done date</th><th>Delete</th></tr>
                {% for col2 in project_todos %}
                        <tr>
                            <td> {{ col2[3].strftime("%d.%m.%Y") }} </td>
                            <td> {{ col2[4] }} </td>
                            <td>{{ col2[5] }} </td>
                            <td> {% if col2[6] %} 
                                    <span class="done">{{ col2[6].strftime("%d.%m.%Y") }}</span> 
                                {% else %} 
                                    <form action="/manage" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                        <input type="hidden" name="form_type" value="done_todo">
                                        <input type="hidden" name="project_id" value="{{ col[0] }}">
                                        <input type="hidden" name="todo_id" value="{{ col2[2] }}">
                                    <input type="submit" class="done" value="DONE">
                                    </form>
                                {% endif %}</td>
                            <td>
                                <form action="/manage" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="form_type" value="delete_todo">
                                    <input type="hidden" name="project_id" value="{{ col[0] }}">
                                    <input type="hidden" name="todo_id" value="{{ col2[2] }}">
                                    <input type="submit" class="delete" value="DELETE">
                                </form>
            
                            </td>
                        </tr>
                {% endfor %}

                {% if project_todos %}
                {% else %}
                <!--TODO LIST EMPTY-->
                <tr><td colspan='5'><span class="confirm">No ToDos yet!</span></td></tr>
                {% endif %}

                </table>
                <div class="add-new">
                    <h4>Delete project</h4>
                    All ToDos in the project are also deleted.
                        <form action="/manage" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="form_type" value="delete_project">
                        <input type="hidden" name="project_id" value="{{ col[0] }}">
                        <input type="submit" class="delete" value="DELETE">
                    </form> </div>
            {% endfor %}
        {% else %}
                {% if project_names %}
                    <p>Select a project!</p>
                {% else %}
                    <p>Create a project!</p>
                {% endif %}
        {% endif %} 
    {% else %} 
    <div><div class="buttonlike-left"><a href="/">LOGIN</a></div> to manage your projects!</div>
    {% endif %}

{% endblock %}