{% extends "layout.html" %}
{% block title %} ToDo list {% endblock %}
{% block topic %} ToDo list {% endblock %}
{% block content %}

    {% if session.user_id %}
        <!-- PLACE FOR ERROR / CONFIRM MESSAGES -->
        {% if error_message %}
            <p class="error">{{ error_message }} </p>
        {% endif %}
        {% if confirm_message %}
        <p class="confirm">{{ confirm_message }} </p>
        {% endif %}
            <h3>Today</h3>
         <table>
            <tr><th>Deadline</th><th>Project</th><th>Type</th><th>Description</th><th>Done</th></tr>
            {% for col in today %}
                <tr>
                <td> {{ col[0].strftime("%d.%m.%Y") }} </td>
                <td> {{ col[1] }} </td>
                <td>{{ col[2] }}</td>
                <td>{{ col[3] }} </td>
                <td> 
                     {% if col[4]  %}
                        Done at {{ col[4].strftime("%d.%m.%Y") }} 
                     {% else %} 
                        <form action="/todolist" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="id" value="{{ col[5] }}">
                        <input type="submit" class="done" value="DONE">
                        </form>

                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            {% if today %}
            {% else %}
            <!--TODO LIST EMPTY-->
            <tr><td colspan='5'><span class="confirm">No open ToDos for today!</span></td></tr>
            {% endif %}
            </table>

        <h3>Tomorrow</h3>
        <table>
            <tr><th>Deadline</th><th>Project</th><th>Type</th><th>Description</th><th>Done</th></tr>
            {% for col in tomorrow %}
                <tr>
                <td> {{ col[0].strftime("%d.%m.%Y") }} </td>
                <td>{{ col[1] }} </td>
                <td>{{ col[2] }}</td>
                <td>{{ col[3] }} </td>
                <td>                      
                    {% if col[4]  %}
                        Done at {{ col[4].strftime("%d.%m.%Y") }} 
                    {% else %} 
                        <form action="/todolist" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="id" value="{{ col[5] }}">
                        <input type="submit" class="done" value="DONE">
                        </form>
                    {% endif %}
                </td>
                </tr>
             {% endfor %}
             {% if tomorrow %}
             {% else %}
             <!--TODO LIST EMPTY-->
             <tr><td colspan='5'><span class="confirm">No open ToDos for tomorrow!</span></td></tr>
             {% endif %}
 
            </table>

        <h3>All Open ToDos</h3>

        {% if confirm_message_type %}
        <p class="confirm">{{ confirm_message_type }} </p>
        {% endif %}

        <div class="add-new-container">
            <!--PROJECT LIST-->
            {% if get_types %}
            <div class="add-new-left">
                <h4>Select a type</h4>
                <form action="/todolist" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="form_type" value="get_types">
                    <select name="type_id">
                        <option value="all">All types</option>
                {% for col in get_types %}
                        <option value="{{ col[0] }}">{{ col[1] }}</option>
                {% endfor %}
                    </select>
                    <input type="submit" class="done" value="SELECT">
                </form>
            </div>
            {% endif %}
        </div>

        <table>
            <tr><th>Deadline</th><th>Project</th><th>Type</th><th>Description</th><th>Done</th></tr>
            {% for col in todos_all %}
                <tr>
                <td> {{ col[0].strftime("%d.%m.%Y") }} </td>
                <td>{{ col[1] }} </td>
                <td>{{ col[2] }}</td>
                <td>{{ col[3] }} </td>
                <td>
                    {% if col[4]  %}
                        Done at {{ col[4].strftime("%d.%m.%Y") }} 
                    {% else %} 
                        <form action="/todolist" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="form_type" value="done_todo">
                        <input type="hidden" name="todo_id" value="{{ col[5] }}">
                        <input type="submit" class="done" value="DONE">
                        </form>

                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            {% if todos_all %}
            {% else %}
            <!--TODO LIST EMPTY-->
            <tr><td colspan='5'><span class="confirm">No ToDos open!</style></td></tr>
            {% endif %}
            </table>

    {% else %}
        <div><div class="buttonlike-left"><a href="/">LOGIN</a></div> to see your ToDos!</div>
    {% endif %}

{% endblock %}